<div class="gallery-container bounceIn animated">
  <span class="corner tl"></span>
  <span class="corner tr"></span>
  <span class="corner bl"></span>
  <span class="corner br"></span>
  <page-grid>
    <nz-card [nzBordered]="false">
      <nz-tabset>
        <nz-tab nzTitle="今年">
          <div nz-row [nzGutter]="16">
            <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]" nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4">
              <nz-card nzHoverable [nzCover]="coverTemplate">
                <nz-card-meta nzTitle="抓拍场所：白云金汇大酒店" nzDescription="www.instagram.com"></nz-card-meta>
              </nz-card>
              <ng-template #coverTemplate>
                <img alt="example" src="/assets/tmp/compairson/wKgA1ly9oamAJDyQAABDdEMn-bw973.jpg"/>
              </ng-template>
            </div>
          </div>
        </nz-tab>
        <nz-tab nzTitle="去年">
          <div nz-row [nzGutter]="16">
            <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]" nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4">
              <nz-card nzHoverable [nzCover]="coverTemplate">
                <nz-card-meta nzTitle="抓拍场所：白云金汇大酒店" nzDescription="www.instagram.com"></nz-card-meta>
              </nz-card>
              <ng-template #coverTemplate>
                <img alt="example" src="/assets/tmp/compairson/wKgA1ly9oamAJDyQAABDdEMn-bw973.jpg"/>
              </ng-template>
            </div>
          </div>
        </nz-tab>
        <nz-tab nzTitle="2017年">
          <div nz-row [nzGutter]="16">
            <div *ngFor="let item of [1,2,3,4,5,6,7,8,9,0]" nz-col nzXs="12" nzSm="8" nzMd="6" nzLg="4">
              <nz-card nzHoverable [nzCover]="coverTemplate">
                <nz-card-meta nzTitle="抓拍场所：白云金汇大酒店" nzDescription="www.instagram.com"></nz-card-meta>
              </nz-card>
              <ng-template #coverTemplate>
                <img alt="example" src="/assets/tmp/compairson/wKgA1ly9oamAJDyQAABDdEMn-bw973.jpg"/>
              </ng-template>
            </div>
          </div>
        </nz-tab>
      </nz-tabset>
    </nz-card>
  </page-grid>
  <a (click)="close()" class="close">
    <i nz-icon [type]="'close'"></i>
  </a>
</div>

